@charset "utf-8";
 @font-face {
 font-family: 'open_sansregular';
 src: url('font-kit/opensans-regular_3-webfont.eot');
 src: url('font-kit/opensans-regular_3-webfont.eot?#iefix') format('embedded-opentype'),  url('font-kit/opensans-regular_3-webfont.woff') format('woff'),  url('font-kit/opensans-regular_3-webfont.ttf') format('truetype'),  url('font-kit/opensans-regular_3-webfont.svg#open_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'open_sanssemibold';
 src: url('font-kit/opensans-semibold_3-webfont.eot');
 src: url('font-kit/opensans-semibold_3-webfont.eot?#iefix') format('embedded-opentype'),  url('font-kit/opensans-semibold_3-webfont.woff') format('woff'),  url('font-kit/opensans-semibold_3-webfont.ttf') format('truetype'),  url('font-kit/opensans-semibold_3-webfont.svg#open_sanssemibold') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('font-kit/opensans-bold_3-webfont.eot');
    src: url('font-kit/opensans-bold_3-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-kit/opensans-bold_3-webfont.woff') format('woff'),
         url('font-kit/opensans-bold_3-webfont.ttf') format('truetype'),
         url('font-kit/opensans-bold_3-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldregular';
    src: url('font-kit/oswald-regular-webfont.eot');
    src: url('font-kit/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-kit/oswald-regular-webfont.woff') format('woff'),
         url('font-kit/oswald-regular-webfont.ttf') format('truetype'),
         url('font-kit/oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body { padding:0px !important; overflow-x: hidden; }
*, body { font:14px 'open_sansregular'; color:#000; }
a:hover, a:focus { outline:none; text-decoration:none; }
img { max-width:100%; height:auto; }
input[type="text"], input[type="password"], input[type="tel"], input[type="mail"], textarea, input[type="submit"], select { -webkit-appearance: none; -moz-appearance: none;}
input, select, textarea{ background:#fff; border:1px solid #cdd5d5; font-size:14px; color:#333; padding:7px 10px;}
select{ background:url(../img/down-arrow.png) right center no-repeat #fff; padding-left:6px;}
label { font-weight:normal; }
strong{ font-weight:normal; font-family: 'open_sansbold';}
.sami-strong{font-family: 'open_sanssemibold';}

/*====  Placeholder CSS ======= 
::-webkit-input-placeholder {opacity:1 !important; color:#616161 !important;}
:-moz-placeholder {opacity:1 !important;}
:-ms-input-placeholder {opacity:1 !important;}
.placeholder { opacity:1 !important; }
input::-moz-placeholder, textarea::-moz-placeholder {opacity:1 !important;}*/

/*common properties*/
a, a:hover, .sidebar-menu li{transition:all 0.3s linear 0.0s;}

.header-nav > ul > li a:hover, .header-nav > ul > li.active > a, .footer-menu li a:hover, .buzz-footer .footer-menu li a:hover, .sidebar-menu li a:hover, .sidebar-menu li:hover:before, .sidebar-aboutus-desc a:hover, .pageurl-list li a:hover{ color:#fe0003;}
/*/common properties*/

/*global css*/
.sprite{ background-image:url(../img/sprite.png); background-position:left top;}

.margin-bot-100 { margin-bottom:100px; }
.margin-bot-90 { margin-bottom:90px; }
.margin-bot-80 { margin-bottom:80px; }
.margin-bot-75 { margin-bottom:75px; }
.margin-bot-70 { margin-bottom:70px; }
.margin-bot-65 { margin-bottom:65px; }
.margin-bot-60 { margin-bottom:60px; }
.margin-bot-55 { margin-bottom:55px; }
.margin-bot-50 { margin-bottom:50px; }
.margin-bot-45 { margin-bottom:45px; }
.margin-bot-40 { margin-bottom:40px; }
.margin-bot-35 { margin-bottom:35px; }
.margin-bot-30 { margin-bottom:30px; }
.margin-bot-25 { margin-bottom:25px; }
.margin-bot-20 { margin-bottom:20px; }
.margin-bot-15 { margin-bottom:15px; }
.margin-bot-10 { margin-bottom:10px; }


.page-social{ margin:0px; vertical-align:top;}
.page-social li{ list-style:none; float:left; margin-right:4px;}
.page-social li:last-child{ margin-right:0px;}
.page-social li a{ display:inline-block; width:49px; height:49px;}
.page-social li a.fb-icon{ background-position:0 0;}
.page-social li a.twitter-icon{ background-position:-53px 0;}
.page-social li a.g-plus-icon{ background-position:-106px 0;}
.page-social li a.linkedin-icon{ background-position:-157px 0;}
.page-social li a.youtube-icon{ background-position:-209px 0;}
.page-social li a.rss-icon{ background-position:-261px 0;}
.page-social li a.mail-icon{ background-position:-315px 0;}

.lg55-page-social li a{ width:55px; height:55px;}
.lg55-page-social li a.fb-icon{ background-position:0 -203px;}
.lg55-page-social li a.twitter-icon{ background-position:-62px -203px;}
.lg55-page-social li a.g-plus-icon{ background-position:-123px -203px;}
.lg55-page-social li a.linkedin-icon{ background-position:-183px -203px;}
.lg55-page-social li a.youtube-icon{ background-position:-244px -203px;}
.lg55-page-social li a.rss-icon{ background-position:-305px -203px;}
.lg55-page-social li a.mail-icon{ background-position:-367px -203px;}

.sm34-page-social li{ height:35px;}
.sm34-page-social li a{ width:35px; height:35px;}
.sm34-page-social li a.fb-icon{ background-position:0 -155px;}
.sm34-page-social li a.twitter-icon{ background-position:-38px -155px;}
.sm34-page-social li a.g-plus-icon{ background-position:-77px -155px;}
.sm34-page-social li a.linkedin-icon{ background-position:-114px -155px;}
.sm34-page-social li a.youtube-icon{ background-position:-152px -155px;}
.sm34-page-social li a.rss-icon{ background-position:-190px -155px;}
.sm34-page-social li a.mail-icon{ background-position:-229px -155px;}

.full-radius, .owl-nav div { border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%; }
.radius-10px{border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; }
.radius-5px{border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; }
.radius-3px, input, select, textarea{border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; }
.radius-2px{border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; }

/*site button*/
.red-btn-outer{border-left-color:#d5181f; border-right-color:#d5181f; border-bottom-color:#aa0e14; display:inline-block; box-shadow: 0 1px 0 0 #cecacb; -webkit-box-shadow: 0 1px 0 0 #cecacb; -moz-box-shadow: 0 1px 0 0 #cecacb; transition:all 0.0s linear 0.0s;}
.red-btn{ display:inline-block; /*background:url(../img/red-gredient.png) left top repeat-x #c91a21;*/
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #ec1d25 0%, #c81a21 100%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#ec1d25 0%,#c81a21 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#ec1d25 0%,#c81a21 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
padding:7px 15px; font:18px 'open_sanssemibold'; color:#fff; border:1px solid #f68c8f; border-left-color:#ea3e45; border-right-color:#ea3e45; border-bottom-color:#d03c42; transition:all 0.0s linear 0.0s;}
.red-btn-outer .red-btn:hover{ color:#ed1d25;
background: #207cca; /* Old browsers */
background: -moz-linear-gradient(top,  #207cca 0%, #2989d8 0%, #ffee75 0%, #ffbf00 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #207cca 0%,#2989d8 0%,#ffee75 0%,#ffbf00 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #207cca 0%,#2989d8 0%,#ffee75 0%,#ffbf00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#ffbf00',GradientType=0 ); /* IE6-9 */
transition:all 0.0s linear 0.0s; border-color:#fff; border-bottom-color:#fdc826 !important;}
.red-btn-outer:hover{border-color:#edbb20 !important; transition:all 0.0s linear 0.0s;}


.light-blue-btn{box-shadow: 0 0px 0 0 #1e5799; border:0px;}
.light-blue-btn:hover, .light-blue-btn:focus{box-shadow: 0 0px 0 0 #1e5799;}
.light-blue-btn .red-btn{ background: #32b2f7; /* Old browsers */
background: -moz-linear-gradient(top,  #32b2f7 0%, #0084cb 100%, #32b2f7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #32b2f7 0%,#0084cb 100%,#32b2f7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #32b2f7 0%,#0084cb 100%,#32b2f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32b2f7', endColorstr='#32b2f7',GradientType=0 ); /* IE6-9 */ font:14px 'open_sansbold'; padding:6px 18px; border:none; border-top:1px solid #1ea1e6; box-shadow: 0 2px 2px -2px #fff inset; -moz-box-shadow: 0 2px 2px -2px #fff inset; -webkit-box-shadow: 0 2px 2px -2px #fff inset;
}
.light-blue-btn:hover .red-btn, .light-blue-btn:focus .red-btn{background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #ec1d25 0%, #c81a21 100%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#ec1d25 0%,#c81a21 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#ec1d25 0%,#c81a21 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */ 
 color:#fff; border-top:1px solid #cc1a21;}



.yellow-btn{
background: #207cca; /* Old browsers */
background: -moz-linear-gradient(top,  #207cca 0%, #2989d8 0%, #ffee75 0%, #ffbf00 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #207cca 0%,#2989d8 0%,#ffee75 0%,#ffbf00 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #207cca 0%,#2989d8 0%,#ffee75 0%,#ffbf00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#ffbf00',GradientType=0 ); /* IE6-9 */
transition:all 0.0s linear 0.0s; border-color:#fff; border-bottom-color:#fdc826 !important; font:24px 'open_sansbold'; color:#ed1d25; padding:8px 10px; text-align:center; border:1px solid #d0cf2f; letter-spacing:-.5px;} 
.yellow-btn:hover, .yellow-btn:focus{background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #ec1d25 0%, #c81a21 100%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#ec1d25 0%,#c81a21 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#ec1d25 0%,#c81a21 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
color:#fff;}



.gray-btn{border-top-color:#000000; border-bottom:none; border-left-color:#0b0b0b; border-right-color:#0b0b0b;}
.gray-btn:hover{border-color:#d03c42 !important;}
.gray-btn .red-btn{font:16px 'open_sansbold';  width:102px; border-left:none; border-right:none; border-bottom:none; border-top-color:#6f6f6f; padding: 6px 15px 9px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#484848+0,181818+100,7db9e8+100 */
background: #484848; /* Old browsers */
background: -moz-linear-gradient(top,  #484848 0%, #181818 100%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #484848 0%,#181818 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #484848 0%,#181818 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.gray-btn:hover .red-btn{background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #ec1d25 0%, #c81a21 100%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#ec1d25 0%,#c81a21 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#ec1d25 0%,#c81a21 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
color:#fff; border-top-color:#fd878c;}

.solid-red-btn{ background:#f90200; color:#fff; padding:5px 13px 6px;}
.solid-red-btn:hover, .solid-red-btn:focus{ background:#0689ce; color:#fff;}
/*/site button*/

.table-col{ display:table; width:100%; height:100%;}
.td-col{ display:table-cell; vertical-align:middle;}
/*/global css*/

.svg-wrap{ width:0px; height:0px; overflow:hidden;}


/*header*/
.site-header{ position:absolute; width:100%; left:0px; top:0px;}
.header-top{ background:rgba(0, 0, 0, 0.3); padding:9px 0; overflow:hidden;}
.header-top, .header-top div, .header-top a, .header-top span{color:#fff; font-size:16px; vertical-align: top;}
.header-top-left{ float:left;}
.header-top-left span{font-family: 'open_sanssemibold';}
.header-top-right{ float:right; vertical-align:top;}
.header-top .top-mail { display: inline-block; margin: 2px 55px 0 0;}
.header-top .phone-icon{ width:25px; height:25px; fill:#fff; display:inline-block; vertical-align:top; margin:0 5px 0 0;}
.header-top a.header-call{ font:18px/24px 'open_sansbold';}
.header-wrap{ border-bottom:1px solid #fff; padding:12px 0;}
.header-nav{ float:right; margin:45px 0 0;}
.header-nav > ul > li{ float:left; margin-right:30px; list-style:none;}
.header-nav > ul > li:last-child{ margin-right:0px;}
.header-nav > ul > li a{ font-size:16px; color:#181818;}
/*/header*/

/*footer*/
.site-footer{ background:#dcdcdc; padding:22px 0 0px; margin-top:30px;}
.footer-bottom{ background:#9a9a9a; padding:20px 0;}
.footer-bottom-lt{ float:left;}
.footer-bottom-lt span{ color:#fff; display:block; margin-bottom:10px;}
.footer-bottom-lt a{ text-decoration:underline; color:#4b5058;}
.footer-bottom-rt{ float:right;}
.footer-bottom-rt span{ color:#fff;}
.footer-bottom-rt span span{color:#4b5058;}
.footer-bottom-rt span a{ color:#fff;}

.footer-row1{  padding-bottom:15px;}
.footer-row1-left{ padding-left:30px;}
.footer-col1{ padding-left:0px; padding-right:0px;}
.footer-col2{ padding-left:30px;}
.footer-col h3{ font-size:18px; font-family: 'open_sanssemibold'; padding-bottom:16px; margin-bottom:20px; border-bottom:1px solid #969696; color:#565656;}
.footer-menu{}
.footer-menu li{ list-style:none; margin-bottom:5px;}
.footer-menu li a{ color:#565656; font-family: 'open_sanssemibold';}
.main-footer .footer-col .page-social{ float:right; margin-top:65px;}
.footer-col4{ text-align:right;}
.footer-logo img{ width:100%;}

.footer-row1 .page-social li:last-child a{ width:47px;}
/*/footer*/

.page-top{ position:relative; padding-top:170px;}
.home-page-top{ background:#dcdcdc; overflow:hidden; padding-bottom:60px;}
.top-news{ margin:20px 0; background:#fff; padding:0px 20px 0px; overflow:hidden; max-height:55px;}
.top-news-inner{ margin:15px 0px; overflow:hidden; max-height:25px;}
.top-news ul li{ list-style:none; float:left;}
.top-news .tickercontainer{ width:100%;}
.top-news ul li, .top-news ul li a, .top-news ul li span{font:18px 'open_sansregular'; color: #006afe;}
.top-news ul li i{color: #006afe; font-size:30px; margin:0 10px 0 0; line-height:15px; position:relative; top:2px;}

.video-section{ overflow:hidden;}
.video-article{ background:#eeeeee;}
.video-col, .video-article { padding-bottom: 99999px; margin-bottom: -99999px; /*dont remove (fix equall height)*/}
.video-row{ position:relative;}
.video-shadow{bottom: 0;box-shadow: 0 2px 7px #666; height: 27px; left: 0; position: absolute; width: 48.9%;}
.video-col img{ width:100%;}
.video-article-inner{ padding:25px;}
.video-article p{ font:19px/32px 'open_sanssemibold'; margin-bottom:25px;}
.video-article p:last-child{ margin-bottom:0px;}
.video-article p a{ color:#ed1d25; font-family:'open_sanssemibold'; font-size:22px;}
.video-article-inner .page-social{ float:right; margin:10px 0 0;}

.buzz-video-row .video-col, .buzz-video-row .video-article{ margin-bottom:0px; padding-bottom:0px;}
.buzz-video-row .video-col{box-shadow: 2px 4px 7px -2px #666;}
.buzz-video-row .video-section{ overflow:inherit;}

.thumb-panel{ background:#f6f6f6; padding:35px 0;}
.thumb-col{ text-align:center;}
.thumb-col h3{font:24px 'open_sanssemibold'; color:#006afe; text-transform:uppercase; margin-bottom:15px; margin-top:0px;}
.logo-outer{ display:table; width:100%; height:230px; background:#fff; box-shadow:0 0 10px #ccc; -webkit-box-shadow:0 0 10px #ccc; -moz-box-shadow:0 0 10px #ccc;}
.logo-inner{ display:table-cell; text-align:center; vertical-align:middle;}

.home-article{ padding:45px 0;}
.home-article p{ font-size:16px; margin-bottom:30px; line-height:30px;}
.home-article p:last-child{ margin-bottom:0px;}

.home-slider-row{ border-top:1px solid #fd6868; padding:60px 0 20px;}
.slide-col-outer{ padding:0 35px;}
.home-slider .slide-col{ border:2px solid #eeeeee;}
.home-slider{position:relative; padding:0 50px;}
.owl-nav div{ width:42px; height:42px; background:#ccc; text-align:center; position:absolute; top:37%;}
.owl-nav div i {color: #fff; font-size: 44px; line-height: 40px;}
.owl-nav div.owl-next i{ margin-left:6px;}
.owl-nav div.owl-prev{ left:0px;}
.owl-nav div.owl-next{ right:0px;}

/*buzz-hub.php*/
.buzz-footer{ background:#eee;}
.buzz-footer .footer-col h3{ color:#ed1d25; border-color:#cccccc;}
.buzz-footer .footer-bottom{ background:#ed1d25;}
.buzz-footer .footer-bottom-lt a{ color:#fff;}
.buzz-footer .footer-bottom-rt span span{ color:#ccc;}
.buzz-footer .footer-row1{ padding-left:0px; padding-bottom: 30px;}
.buzz-footer .footer-menu li a{ color:#333;}
.buzz-footer-col1{ text-align:center;}
.buzz-footer-col1 img{ margin:30px 0 0;}

.buzz-page-top{ background:url(../img/background-img1.jpg) left top no-repeat; background-size:cover; border-bottom:1px solid #f4f3f4;}
.buzz-header{ border-color:#f91a1c; padding:6px 0;}
.buzz-header-col1 img{ max-width:151px;}
.buzz-header-col2 img{ max-width:156px;}
.buzz-header-col3 .red-btn-outer{margin: 34px 0 0;}

.buzz-video-row{ margin-top:40px;}
.buzz-video-row .video-shadow{ height:100%; box-shadow:2px 4px 7px -2px #666; -webkit-box-shadow:2px 4px 7px -2px #666; -moz-box-shadow:2px 4px 7px -2px #666;}
.buzz-video-row .video-section{ position:relative;}
.buzz-video-row .video-col-2{ position:static;}
.buzz-video-row .video-article{ background:none;}
.buzz-video-row .page-social{ position:absolute; right:15px; bottom:-5px;}

.buzz-panel-col{ border:1px solid #ffc7d7; min-height:199px; margin-bottom:6px; padding-top:20px; background:url(../img/right-pattern.jpg) right center no-repeat; overflow:hidden;}
.buzz-img-col{ width:55%; float:left;}
.buzz-content-col{ width:45%; float:right;}
.buzz-content-inner{ padding-right:35px;}
.buzz-content h2{ font:26px 'open_sansbold'; text-transform:uppercase; color:#ed1d25; letter-spacing:-0.5px; margin:0px 0 15px;}
.buzz-content p{ font-size:17px;}
.buzz-panel-col figure{ text-align:center;}
.buzz-panel-col:nth-child(2n){ background:url(../img/left-pattern.jpg) left center no-repeat;}
.buzz-panel-col:nth-child(2n) .buzz-img-col{ float:right; width:45%;}
.buzz-panel-col:nth-child(2n) .buzz-img-col figure{ text-align:left; padding-left:20px;}
.buzz-panel-col:nth-child(2n) .buzz-content-col{ float:right; width:55%;}
.buzz-panel-col:nth-child(2n) .buzz-content-inner{ padding-right:0px; padding-left:50px;}
.buzz-panel-col:nth-child(2n) .buzz-content-inner p{padding-right:50px;}
.buzz-panel-col:last-child{ padding-top:30px; margin-bottom:0px;}

.buzz-row{ overflow:hidden;}
.buzz-sidebar, .buzz-right-page {margin-bottom: -99999px; padding-bottom: 99999px;}

/*sidebar*/
.buzz-sidebar{ background:#f4f4f4;}
.buzz-sidebar-inner{padding:10px;}
.buzz-menu li{ list-style:none; margin-bottom:5px;}
.buzz-menu li a{ display:block; text-align:left; padding:25px 23px;}

.buzz-timetable-panel h2{font:26px 'open_sansbold'; color:#ed1d25; margin-bottom:20px;}
.dd-mm-label{ padding:10px; overflow:hidden;}
.dd-mm-label span{color:#ed1d25;  font-size:18px;}
.dd-mm-label span:first-child{ float:left;}
.dd-mm-label span:last-child{ float:right;}
.buzz-timetable{ border:1px solid #93a8a9; padding:9px; background:#fff;}
.buzz-calendar-desc{ padding:0 17px;}
.buzz-calendar-col{ background:#f3f3f3; border:1px solid #e3e3e3;}
.buzz-calendar img{ width:100%; height:auto;}
.event-col{ padding:0 0 0 16px; position:relative; margin-bottom:10px;}
.event-icon{ width:4px; height:4px; background:#4de454; display:inline-block; position:absolute; left:0px; top:8px;}
.event-title{ font-size:13px; padding-bottom:5px; display:block; color:#333;}
.event-time{ display:block; margin-bottom:10px;}
.event-info{padding-left:15px; }
.event-info, .event-info span, .event-info p{color:#666; font-size:11px;}

.yellow-event .event-icon{ background:#e7cc18;}
/*sidebar*/
/*/buzz-hub.php*/

/*who-we-are.php*/
.inner-page-top{ padding-top:0px;}
.breadcrumb-row{ background:#dddddd; padding:7px 0; border-bottom:1px solid #cecdcd; border-top:1px solid #cecdcd; overflow:hidden;}
.breadcrumb-ul{ float:left; margin: 6px 0 0;}
.breadcrumb-ul li{ float:left; list-style:none; padding:0 8px 0 16px; position:relative;}
.breadcrumb-ul li:before { content: "\f101"; font-family: 'FontAwesome'; font-size:18px; margin:0 5px 0 0; color:#999999; position:absolute; top:1px; left:0px;}
.breadcrumb-ul li:first-child{ padding-left:0px;}
.breadcrumb-ul li:first-child:before{ font-size:0px; padding-left:0px; margin:0px; float:left;}
.breadcrumb-ul li a{font:16px 'open_sanssemibold'; color:#333333; float:left;}
.breadcrumb-ul li:last-child a{ color:#999999;}
.breadcrumb-social{ float:right;}
.breadcrumb-social span{font:16px 'open_sanssemibold'; color:#453f3d; float:left; margin:6px 10px 0 0;}
.breadcrumb-social ul{ display:inline-block;}

.page-sidebar{ background:#f5f5f5; border:1px solid #dedede; padding:20px;}
.sidebar-aboutus:last-child{ margin-bottom:0px;}
.sidebar-aboutus-col2{ padding-left:8px;}
.sidebar-aboutus-desc h3{font:18px 'open_sanssemibold'; color:#222; margin:0 0 5px;}
.sidebar-aboutus-desc p{ font-size:13px; margin:0px;}
.sidebar-aboutus-desc a{ font:13px 'open_sanssemibold'; color:#0051c2;}
.sidebar-aboutus-img{ padding-right:0px;}
.sidebar-aboutus-img img{box-shadow:0 0 8px #ddd; -webkit-box-shadow:0 0 8px #ddd; -moz-box-shadow:0 0 8px #ddd;}

.sidebar-title{ background:#0689ce; padding:10px 15px; font:18px 'open_sanssemibold'; color:#fff; position:relative; margin-bottom:22px;}
.sidebar-title:after{content: "\f0d7"; font-family: 'FontAwesome'; position:absolute; bottom:-25px; left:30px; color:#0689ce; font-size:42px; line-height:42px;}
.sidebar-content{ padding:0 15px;}
.sidebar-menu{ margin-bottom:0px;}
.sidebar-menu li{ list-style:none; position:relative; padding:0 0 9px 12px;}
.sidebar-menu li:last-child{ padding-bottom:0px;}
.sidebar-menu li:before{content: "\f0da"; font-family: 'FontAwesome'; position:absolute; top:2px; left:0px; color:#181818; font-size:16px;}
.sidebar-menu li a{ font-size:16px; color:#181818;}

.sidebar-form ul{ margin-bottom:0px;}
.sidebar-form ul li{ margin-bottom:8px; list-style:none;}
.sidebar-form ul li:last-child{ margin-bottom:0px;}
.form-content{ padding:0 15px;}
.sidebar-form input, .sidebar-form select, .sidebar-form textarea{ width:100%; display:block;}
.sidebar-form textarea{ height:90px;}
.sidebar-form input[type="checkbox"]{ width:auto; float:left; margin:3px 5px 0 0; height: auto;}
.sidebar-form label{ margin-bottom:0px;}
.chkbox-col span{font-family: 'open_sanssemibold'; font-size:14px; vertical-align:top;}
.captcha-row{ margin:12px 0 25px; overflow:hidden;}
.captcha-row span strong{}
.captcha-col{ margin:5px 0 0;}
.captcha-col img{ width:100%; height:auto;}

.common-title{ background:url(../img/pattern.png) left center repeat-x; margin:0 0 15px 0;}
.common-title h3{ font:22px/22px 'oswaldregular'; text-transform:uppercase; background:#fff; padding-right:10px; display:inline-block; margin:0px;}
.subtitle-text{font:16px 'open_sanssemibold'; margin:0px 0 15px;}
.article-col{ margin-bottom:30px;}
.page-left ul li{ font-size:16px; list-style:none; padding:0 0 8px 14px; position:relative;}
.page-left ul li:before{ content:''; width:6px; height:6px; background:#181818; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; position:absolute; top:8px; left:0px;}
.pageurl-list li{ list-style-position:inside; padding:0 0 5px;}
.pageurl-list li a{font-size:16px; color:#333;}
/*/who-we-are.php*/

.page-banner img{ width:100%; height:auto;}
.video-col-3 img{ width:100%; height:auto; margin:10px 0 0;}

.testimonial-row{border-bottom:1px solid #c6c6c6; padding-bottom:30px;}
.testimonial-panel{ display:table; width:100%;}
.testimonial-left{ display:table-cell; vertical-align:middle;}
.testimonial-author{ width:120px; height:120px; border:2px solid #0689ce; text-align:center;}
.testimonial-author div{font:20px 'open_sansbold'; color:#0689ce;}
.testimonial-right{ display:table-cell; vertical-align:middle; padding:0 0 0 30px;}
.testimonial-content{ height:150px; border:1px solid #c6c6c6; padding:0 50px;}
.testimonial-content div{line-height:26px;}

.bottom-btn{ text-align:center; margin-bottom:30px;}
.bottom-btn .red-btn-outer{ margin-left:6px;}
.bottom-btn .red-btn-outer:first-child{ margin-left:0px;}


.square-panel-col:nth-child(3n+2){ background:url(../img/verticle-devider.png) left center no-repeat;}
.square-panel{ text-align:center; background:url(../img/horizontal-devider.png) center bottom no-repeat; padding-top:30px;}
.square-panel-col:first-child .square-panel, .square-panel-col:nth-child(2) .square-panel, .square-panel-col:nth-child(3) .square-panel{padding-top:30px;}
.square-panel-img{ height:90px; margin-bottom:10px;}
.square-panel-title{font:19px 'open_sanssemibold'; color:#181818; margin-bottom:12px}
.border-devider{ height:1px; margin-bottom:15px;}
.border-devider span{ width:80px; height:1px; background:#b9b9b9; display:inline-block; vertical-align: top;}
.square-panel-pera{height:95px; padding:0 15px;}
.square-panel p{ color:#666666;}
.square-panel-img2{ height:125px; margin-bottom:0px;}
.verticle-devider{ position:absolute; right:0px; top:0px; background:url(../img/verticle-devider2.png) right center no-repeat; width:50px; height:100%; display:none;}
.square-panel-col:nth-child(3n-1) .verticle-devider{ display:block;}

/*our-team.php*/
.team-panel{ border:1px solid #93a8a9; padding:30px; overflow:hidden; box-shadow: 1px 1px 1px #ebf4f5 inset; -webkit-box-shadow: 1px 1px 1px #ebf4f5 inset; -moz-box-shadow: 1px 1px 1px #ebf4f5 inset;}
.team-member{ width:25%; float:left;}
.team-member figure{ border:1px solid #e3e3e3;}
.team-member img{ width:100%; height:auto;}
.team-desc{ width:75%; float:right;}
.team-desc-inner{ padding:0 0 0 30px;}
.team-desc h3{ margin:0px 0 20px; font:20px 'open_sanssemibold'; color:#181818;}
.team-desc p{ line-height:26px;}
.team-panel:nth-child(2n) .team-member{ float:right;}
.team-panel:nth-child(2n) .team-desc{ float:left;}
.team-panel:nth-child(2n) .team-desc-inner{ padding:0 30px 0 0;}
/*/our-team.php*/

/*Job With Us*/
.page-left .tabs-list{ width:100%; display:inline-block; margin:0px; vertical-align:top;}
.page-left .tabs-list li{ float:left; margin:0 0 0 5px; background:none; padding:0px; border:1px solid #d2d2d2;}
.page-left .tabs-list li::before{ display:none;}
.page-left .tabs-list li:first-child{ margin-left:0px;}
.page-left .tabs-list li a{ transition:all 0.0s linear 0.0s; cursor:pointer; font:16px 'oswaldregular'; color:#555555; padding:5px 26px; border-top:1px solid #f1efef; display:inline-block; box-shadow: 0 2px 6px -1px #ddd inset; -webkit-box-shadow: 0 2px 6px -1px #ddd inset; -moz-box-shadow: 0 2px 6px -1px #ddd inset;
background: #f5f5f5; /* Old browsers */
background: -moz-linear-gradient(top,  #f5f5f5 0%, #e3e3e3 100%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e3e3e3 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f5f5f5 0%,#e3e3e3 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */}
.page-left .tabs-list li:hover, .page-left .tabs-list li.active{ border-color:#1ea1e6; border-bottom-color:#0689ce;}
.page-left .tabs-list li:hover a, .page-left .tabs-list li.active a{background: #32b2f7; /* Old browsers */
background: -moz-linear-gradient(top,  #32b2f7 0%, #0084cb 100%, #32b2f7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #32b2f7 0%,#0084cb 100%,#32b2f7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #32b2f7 0%,#0084cb 100%,#32b2f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32b2f7', endColorstr='#32b2f7',GradientType=0 ); /* IE6-9 */
color:#fff; box-shadow: 0 2px 6px -1px #2597d4 inset; -webkit-box-shadow: 0 2px 6px -1px #2597d4 inset; -moz-box-shadow: 0 2px 6px -1px #2597d4 inset; border-color:#62c0f2;}

.tabs-content-row{ border:1px solid #0689ce; background:#f5f5f5; padding:15px; overflow:hidden;}
.tabs-content-row .solid-red-btn{ min-width:111px; text-align:center;}
.support-work-col{ border-bottom:1px solid #c4c4c4; overflow:hidden; padding-bottom:20px; margin-bottom:20px;}
.support-work-col:last-child{ margin-bottom:15px}
.support-work-col h4{ margin:0px; font:16px 'open_sansbold'; margin-bottom:8px;}
.support-work-col p{ color:#000;}
.support-work-btn .solid-red-btn{ float:right;}
.more-jobs-col p{ float:left; margin:5px 0 0;}
.more-jobs-col .solid-red-btn{ font-size:16px; font-family: 'open_sansregular';}
/*/Job With Us*/

/*contact-us.php*/
.contact-row > .row{ margin:0 -7px;}
.contact-row > .row > div{ padding:0 7px;}
.contact-row .contact-col{ background:#f5f5f5; border:1px solid #dedede; padding:9px;}
.contact-row .contact-col h3{font:20px 'open_sanssemibold'; color:#006afe; margin:0px 0 10px;}
.contact-row .contact-info{ font-size:16px; margin-bottom:15px;}
.contact-row .contact-ph{ margin-bottom:15px;}
.contact-row .contact-ph strong{ font-size:18px; font-family: 'open_sanssemibold';}
.contact-row .map-col{ border:1px solid #e5e5e5; padding:5px; background:#fff;}
.contact-row .map-col iframe{ width:100%; height:240px; border:none;}

.direction-row{ background:#f5f5f5; border:1px solid #0689ce; padding:30px 20px 20px; position:relative;}
.direction-title{ font:16px/16px 'oswaldregular'; position:relative; text-transform:uppercase; background:#0689ce; padding:9px 14px 3px 14px; color:#fff; height:32px; display:inline-block;}
.direction-title img{ position:absolute; top:0px; right:-17px;}
.direction-col{ border-bottom:1px solid #c5c9cb; padding:0 0 0 77px; position:relative; margin-bottom:10px; padding-bottom:10px;}
.direction-col:last-child{ border-bottom:none; margin-bottom:0px; padding-bottom:0px;}
.direction-col h4{font:16px 'open_sansbold'; position:absolute; left:0px; top:-2px; margin:0px;}
.direction-col p{ margin:0px;}
.direction-title-outer { left: -1px; position: absolute; top: -17px;}

.contact-tabs .tabs-content-row{ padding:20px;}
.contact-tabs-row{ overflow:hidden;}
.contact-tabs .tabs-list{ float:left; width:auto;}
.contact-tabs .tabs-list li a{ text-transform:uppercase;}
.page-left .contact-form li{padding-left:0px; margin-bottom:9px; padding-bottom:0px;}
.contact-form input{ height:36px;}
.contact-form textarea { height: 126px; margin-bottom:17px;}
.contact-form li:before{ display:none;}
.contact-form .form-content { padding: 0;}
.contact-form .captcha-row span, .contact-form .captcha-row span strong{ font-size:13px; color:#666666;}
.contact-form .contact-form-row{ margin:0 -10px;}
.contact-form .contact-form-row > div{ position:static; padding:0 10px;}
.page-left .contact-form ul li{ position:static;}
.contact-form .captcha-row { bottom: 0; left: 37px; width:386px;margin:0px 0 20px; overflow: hidden; position: absolute;}
.contact-form .captcha-col img{ height:81px;}
.contact-form .red-btn-outer{ margin-top:7px;}
.req-tetx{ float:right; font:15px 'open_sansbold'; color:#000; margin:5px 11px 0 0;}
/*/contact-us.php*/

/*quality-assurance.php*/
.QA-title{font:16px 'open_sanssemibold'; color:#333; display: inline-block; margin:6px 0 0 0;}
.QA-banner{ position:relative;}
.QA-banner-col img{ width:100%; height:auto;}
.QA-banner-title { display: inline-block; left: -10px; overflow: hidden; position: absolute; top: -10px;}
.QA-banner-title span{font:19px 'open_sansbold'; color:#fff; background:url(../img/blue-gredient.jpg) left top repeat-y #0c94d8; padding:7px 22px; display:inline-block; border-radius:0 0 5px 0; float:left;}
.QA-banner-title .right-curve{border-bottom:10px solid #004264; border-right:10px solid transparent; width:0px; height:0px; display:inline-block; vertical-align:top;}
.QA-banner-title .left-curve{border-top:10px solid #004264; border-left:10px solid transparent; width:0px; height:0px; display:inline-block; vertical-align:top;}
.QA-banner-title .left-curve-outer{ width:100%; display:inline-block;}
.QA-banner-content{ position:absolute; left:30px; top:57px;}
.QA-banner-content ul li{ list-style:none; position:relative; padding:0 0 9px 15px; color:#fff; font-size:15px; line-height:22px;}
.QA-banner-content ul li:before{content: "\f0da"; font-family: 'FontAwesome'; position:absolute; top:0px; left:0px; color:#fff; font-size:16px; background:none;}


.accordion-ul{}
.accordion-ul li{ background:#f5f5f5; margin-bottom:5px; padding:0px !important; border:1px solid #dedede;}
.accordion-title{ }
.accordion-ul li a.accordion-a{font:18px 'open_sanssemibold'; color:#fff; display:block; padding:10px 40px 10px 20px; background:url(../img/plus.png) 95% center no-repeat; transition:all 0.0s linear 0.0s;
background: #32b2f7; /* Old browsers */
background: -moz-linear-gradient(top,  #32b2f7 0%, #0084cb 100%, #32b2f7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #32b2f7 0%,#0084cb 100%,#32b2f7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #32b2f7 0%,#0084cb 100%,#32b2f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32b2f7', endColorstr='#32b2f7',GradientType=0 ); /* IE6-9 */ cursor:pointer; position:relative;}
.accordion-ul li.active a.accordion-a, .accordion-ul li:hover a.accordion-a{ background:url(../img/gredient2.png) left top repeat-x #d6e0e5; color:#181818;}
.accordion-ul li a.accordion-a img{ display:none; position: absolute; right: 15px; top: 13px;}
.accordion-ul li a.accordion-a img.plus{ display:inline-block;}
.accordion-ul li.active a.accordion-a img.plus{ display:none;}
.accordion-ul li.active a.accordion-a img.minus{display:inline-block;}
.accordion-ul li:before{ display:none;}
.faq-content{ padding:25px 20px;}
.accordion-ul li.active .faq-content{}
.faq-content, .faq-content p{ font-size:15px;}
.faq-content .safe-title{ color:#004264;}
.faq-content-row{ margin-top:30px;}

.bottom-tagline{ border-top:1px solid #ccc; padding-top:26px; margin-top:28px; margin-bottom:30px; position:relative;}
.bottom-tagline .toparrow{ position:absolute; top:-1px; left:35px;}
.bottom-tagline-text{ font-size:24px; color:#181818; position:relative; padding:0 0 0 37px; display:inline-block;}
.bottom-tagline-text:before{content: "\f10d"; font-family: 'FontAwesome'; position:absolute; left:0px; top:4px; color:#dddddd; font-size:24px;}
/*/quality-assurance.php*/

/*our-partners.php*/
.partner-panel{ background:#f5f5f5; border:1px solid #e5e5e5; overflow:hidden; padding:18px;}
.partner-content div{}
.partner-col1{ padding:0px;}
.partner-col1 img{ width:100%;}
.partner-col2{}
.partner-content h3{ font:22px/22px 'oswaldregular'; color:#0066b3; margin:0px 0 10px; text-transform:uppercase;}
.partner-content a{ color:#0066b3;}
/*/our-partners.php*/

#header-nav{ display:inline-block;}
.slicknav_menu{ display:none;}
.footer-content{ display:block;}
.fc-header .fc-state-default a{margin: 0 !important}