.error_message_valid {
    color: #ff3705;
    font-size: 12px !important;
    width: 100%;
    display: inline-block;
    text-align: left;
}

.error_message_valid_registration {
    color: #ff3705;
    font-size: 12px !important;
    width: 100%;
    display: inline-block;
    text-align: left;
}

.alert-dismissible {
    border: medium none;
    font-size: 12px;
    padding: 7px 0px 7px 10px;
    margin-bottom: 5px;
}
.error-message {
    color: #ff3705 !important;
    font-size: 12px !important;
    width:100%;
    display:inline-block;
    text-align:left;
}

.Week-checkbox input[type="checkbox"]:checked + label.active::before{ font-size:0px;}
.Week-checkbox input[type="checkbox"]:checked + label span{color: #FFF;}

.Week-checkbox label.active:before{background-color: #e22e01;}
